*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $base-font;
  font-style: normal;
}
body {
  position: relative;
  font-family: $base-font;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: $text;
}

::placeholder {
  color: $text-placeholder;
}

:-ms-input-placeholder {
  color: $text-placeholder;
}

::-ms-input-placeholder {
  color: $text-placeholder;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-blue {
  background-color: $blue;
}
.bg-cream {
  background-color: #fff8e5;
}

.text-center {
  text-align: center;
}

.overflow-h {
  overflow: hidden !important;
}
.text-placeholder {
  color: $text-placeholder;
}
.text-orange {
  color: $text-secondery;
}

.b {
  font-weight: 600;
}

.h-100p {
  height: 100%;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.pt-0 {
  padding-top: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.m-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}

.mb-auto {
  margin-bottom: auto;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-sb {
  justify-content: space-between;
}
.flex-direction-column {
  flex-direction: column;
}

.opacity-3 {
  opacity: 0.3;
}
.opacity-7 {
  opacity: 0.7;
}
.section-wrapper {
  padding: 50px 0;
}
//=============== pagination
.pagination {
  display: flex;
  span.pagination__arrow {
    background: transparent;
    opacity: 0.7;
    pointer-events: none;
  }
  &__arrow {
    &:first-child {
      margin-left: 0px;
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
      margin-right: 0;
      &::after {
        left: 48%;
        transform: translate(-50%, -50%) rotate(225deg);
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 52%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 7px;
      height: 7px;
      border-bottom: 2px solid #b1b9ca;
      border-left: 2px solid #b1b9ca;
    }
    &:hover::after {
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
    }
  }
  &__item {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #f4f7fa;
    color: #717784;
    font-weight: 700;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-right: 4px;
    border: 1px solid #f4f7fa;
    transition: all 0.3s ease;
    &.active {
      background-color: $primary;
      color: #fff;
    }
    &:hover {
      transition: all 0.3s ease;
      background-color: $primary;
      color: #fff;
      border: 1px solid transparent;
    }
  }
  &__wrap {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
  }
}
.small-text {
  font-family: 'ProximaNova';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.big-text {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.title {
  font-family: 'Stapel';
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}
.primary-title {
  width: 100%;
  font-size: 30px;
  color: $text;
  font-family: 'Stapel';
  font-weight: 500;
  line-height: 38px;
  &__light {
    color: $text-light;
  }
  &__h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

// Helpers
@keyframes move {
  to {
    transform: translateX(0);
  }
}
@mixin arrowMoveInteraction() {
  .arrow-move-clip {
    animation-delay: 150ms;
    animation-duration: 0.8s;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
  }
}
@keyframes hoverFlare {
  0% {
    left: -90px;
  }
  100% {
    left: 150%;
  }
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 17px 30px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  position: relative;
  &:hover {
    background: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  &:focus {
    outline: none;
  }
  &_hover {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 2;
    &:before {
      content: '';
      transition: 3s ease-in-out;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
      height: 100%;
      width: 20%;
      position: absolute;
      top: 0;
      transform: skewX(-45deg);
      left: -90px;
    }
    &:hover {
      // transform: scale(1.1)
      &:before {
        animation: hoverFlare 1.5s infinite;
      }
    }
  }

  &_arrow {
    padding-right: 50px;
    &:hover {
      svg {
        fill: #fff;
        transition: all 0.3s ease;
      }
      text-decoration: none;
      @include arrowMoveInteraction();
    }
    .arrow-move {
      --arrow-width: 20px;
      --arrow-spacer: 8px;
      --arrow-plus-spacer: calc(var(--arrow-width) + var(--arrow-spacer));

      overflow: hidden;
      position: absolute;
      right: -0.2em;
      top: 49%;
      transform: translate(-50%, -50%);
      width: var(--arrow-plus-spacer);

      // Descendants
      svg {
        fill: #fff;
        height: 20px;
        width: var(--arrow-width);

        &:last-of-type {
          margin-left: var(--arrow-spacer);
        }
      }
      &-clip {
        align-items: center;
        display: flex;
        overflow: hidden;
        transform: translateX(calc(var(--arrow-plus-spacer) * -1));
        width: calc(var(--arrow-plus-spacer) + var(--arrow-width));
      }
    }
  }

  &_small {
    font-size: 12px;
    text-transform: inherit;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px;
  }
}

.primary-btn {
  background: $primary-btn;
  color: #fff;
  &:hover {
    border: 1px solid $primary-btn;
    background: $primary-btn;
  }
}

.orange-btn {
  background: $orange;
  color: #fff;
  &:hover {
    border: 1px solid $orange;
    background: $orange;
  }
}

.blue-sky-btn {
  background: $blue-sky;
  color: #fff;
  &:hover {
    border: 1px solid $blue-sky;
    background: $blue-sky;
  }
}

.transparent-btn {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.15);
  }
}
.border-gray-btn {
  background: #fff;
  color: $text;
  border: 1px solid #b1b9ca;
  &:hover {
    border: 1px solid #b1b9ca;
    background: #b1b9ca;
    color: #fff;
  }
}

.white-btn {
  background: #f4f7fa;
  color: #1e1e1e;
  &:hover {
    border: 1px solid #f4f7fa;
    background: $blue;
    color: #fff;
  }
}

.blue-btn {
  background: $blue;
  color: $white;
  &:hover {
    background: $blue;
  }
}

.light-blue-btn {
  background: $light-blue;
  color: $white;
  &:hover {
    background: $light-blue;
  }
}

.gray2-btn {
  transition: all 0.3s ease;
  background: #f4f7fa;
  &:hover {
    transition: all 0.3s ease;
    background: #e2e4ea;
  }
}
.gray-btn {
  background: $gray-btn;
  color: #fff;
  &:hover {
    background: $gray-btn;
  }
}

.separater-line {
  height: 0;
  border-bottom: 1px solid #fff;
}
.separater-line-ver {
  border-left: 1px solid #fff;
}

.link {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-primary;
  &:hover {
    color: $text-primary !important;
    text-decoration: underline !important;
  }
}

.small-btn {
  padding: 10px 30px;
}
.text-gray {
  color: $text-gray;
}
.text-black {
  color: $black;
}
.page {
  &-head {
    margin-bottom: 50px;
  }
  &-title {
    font-family: 'Stapel';
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    color: $text;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 16px;
    line-height: 22px;
    color: $text-gray;
    max-width: 540px;
  }
  &__all-content {
    margin: 0 auto;
    margin-bottom: 50px;
    strong {
      font-size: 16px;
      width: 100%;
      max-width: 770px;
      margin: 0 auto;
      font-weight: 700;
      margin-right: 5px;
    }
    p {
      font-size: 16px;
      width: 100%;
      max-width: 770px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    img {
      display: flex;
      width: 100%;
      max-width: 970px;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    a {
      display: inline-block;
      font-family: 'Stapel';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: $text-primary;
    }
    h3 {
      width: 100%;
      max-width: 770px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    h4 {
      font-family: 'Stapel';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    ol {
      li {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    ul {
      li {
        position: relative;
        padding-left: 40px;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $secondery;
          left: 20px;
          top: 7px;
          @media (max-width: 767px) {
            left: 0;
          }
        }
        @media (max-width: 767px) {
          margin-bottom: 15px;
          padding-left: 20px;
        }
      }
    }
  }
}

.breadcrumbs {
  z-index: 900;
  display: block;
  margin-bottom: 30px;
  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    color: #717784;
  }
  &__item {
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: 14px;
    &:not(:last-child):after {
      display: block;
      content: '/';
      color: #717784;
      transform: translateX(5px);
    }
  }
  &__link {
    color: #717784;
    white-space: nowrap;
    transition: color 0.3s;
    &:hover {
      color: $text-primary;
      transition: color 0.3s;
    }
  }
  &__link--disabled {
    color: $text-primary;
    text-decoration: none !important;
    &:hover {
      color: $text-primary;
    }
  }
}

.main-form {
  &__wrapper {
    display: flex;
    margin-bottom: 10px;
  }
  &__label_phone {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 100%;
    max-width: 200px;
    &::before {
      content: '';
      display: block;
      height: 15px;
      width: 15px;
      background-image: url(../img/icons/icon-phone.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 16px;
      left: 15px;
      z-index: 9;
    }
  }
  &__label {
    position: relative;
    &._error {
      input {
        border: 1px solid #d10000;
      }
      .main-form__label-error {
        display: block;
      }
    }
    input:focus {
      border: 1px solid $primary;
    }
  }
  &__label-error {
    display: none;
    position: absolute;
    left: 5px;
    bottom: 98%;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #d10000;
  }
  &__phone {
    outline: none;
    font-family: 'ProximaNova';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    width: 100%;
    max-width: 200px;
    border: none;
    line-height: 50px;
    height: 50px;
    padding-left: 40px;
    background: #ffffff;
    border-radius: 3px;
  }
  &__text {
    color: #fff;
    a {
      color: $text-placeholder;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__policy {
    display: flex;
    align-items: center;
  }
  &__checkbox {
    display: none;
    &:checked + .main-form__checkbox-box::before {
      opacity: 1;
    }
  }
  &__checkbox-box {
    position: relative;
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 7px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-image: url(../img/icons/icon-checked.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      opacity: 0;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
  }
  &__light {
    .main-form__phone {
      border: 1px solid #e2e4ea;
      border-radius: 3px;
    }
    .main-form__label_phone::before {
      top: 23px;
      transform: translateY(-50%);
    }
    .main-form__btn {
      width: 100%;
    }
    .main-form__submit {
      width: 100%;
      padding: 17px 10px;
    }
    .main-form__checkbox:checked + .main-form__checkbox-box {
      background-color: $icon-primary;
    }
    .main-form__checkbox-box {
      border: 1px solid $icon-primary;
    }

    .main-form__text {
      color: $text;
      a {
        color: #717784;
      }
    }
  }
}

//Star
.star-rating {
  margin-bottom: 40px;
  height: 26px;
}
.star-rating > fieldset {
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  display: none;
}

.star-rating > fieldset:not(:checked) > label {
  float: right;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
}

.star-rating > fieldset:not(:checked) > label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/icons/rating-off.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/icons/rating-on.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.star-rating > fieldset > input:checked ~ label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/icons/rating-on.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.star-rating > fieldset > label:active {
  position: relative;
  opacity: 0.8;
}

.stars-rating {
  &__number {
    margin-right: 10px;
  }
  &__wrapper {
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &_on {
    background-image: url('../img/icons/rating-on.svg');
  }
  &_off {
    background-image: url('../img/icons/rating-off.svg');
  }
}

.slick-dots {
  display: block;
  width: 100%;
  font-size: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }

  li button {
    font-size: 0;
    line-height: 0;
    outline: none;
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid $orange;
    cursor: pointer;
    color: transparent;
    border-radius: 50%;
    background: none;
    opacity: 0.3;
    transition: all 0.3s ease;
  }

  .slick-active button {
    border: 3px solid $orange;
    opacity: 1;
    transition: all 0.3s ease;
  }
}

.slider-btn {
  position: absolute;
  top: 50%;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #e2e4ea;
  border-left: 2px solid #e2e4ea;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  outline: none;
  &:hover {
    transition: all 0.3s ease;
    border-bottom: 2px solid $icon-primary;
    border-left: 2px solid $icon-primary;
    outline: none;
  }
  &.slick-disabled {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      border-left: 2px solid rgba(255, 255, 255, 0.5);
    }
  }
}
.slider-btn__prev {
  transform: translateY(-50%) rotate(45deg);
  left: 30px;
}
.slider-btn__next {
  transform: translateY(-50%) rotate(225deg);
  right: 30px;
}

//====== simple select
.select {
  position: relative;
  &__label {
    display: block;
    font-size: 14px;
    line-height: 22px;
  }
  &__header {
  }
  &__current {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: $primary;
    cursor: pointer;
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      top: 3px;
      width: 20px;
      height: 12px;
      margin-left: 5px;
      background: url('../img/icons/arrow-green.svg') center center no-repeat;
      background-size: 70%;
      transition: all 0.3s ease;
    }
  }
  &__arrow {
    position: relative;
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 3px;
      width: 20px;
      height: 12px;
      right: 10px;
      background: url('../img/icons/select-arrow.svg') center center no-repeat;
      background-size: 70%;
      transition: all 0.3s ease;
    }
  }
  &__body {
    position: absolute;
    display: inline-block;
    width: 100%;
    min-width: 210px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #fff;
    padding: 10px 10px 10px 10px;
    margin-top: 2px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: -1;
  }
  &__item-search {
    padding: 5px 0;
    margin-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.3s ease;
    &:first-child {
      padding-top: 0;
    }
    &:hover {
      transition: all 0.3s ease;
      color: $text-primary;
    }
  }
  &__item {
    opacity: 0.7;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }

  &.is-active {
    .select__body {
      top: 100%;
      left: 0;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;
      z-index: 100;
    }
    .select__current::after {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
    .select__arrow::after {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
  }
}
//====== select + border
.select-dropdown {
  display: block;
  width: 100%;
  .select__header {
  }
  .select__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $text-light;
    margin-bottom: 5px;
  }
  .select__current {
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: $text;
    border-radius: 3px;
    padding: 0px 35px 0 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    &::after {
      position: absolute;
      height: 20px;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:hover {
      color: $text;
      border: 1px solid $secondery;
      transition: all 0.3s ease;
    }
  }
  .select__body {
  }
  .select__item {
  }
  &.is-active {
    .select__current {
      color: $text;
      border: 1px solid $primary;
      transition: all 0.3s ease;
    }
    .select__current::after {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}
.custom-input {
  border-radius: 3px;
  height: 46px;
  color: $text;
  transition: all 0.3s ease;
  font-size: 14px;
  padding: 0 12px;
  width: 100%;
  border: none;
  &::placeholder {
    font-size: 14px;
    color: $text;
    opacity: 1;
  }
  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    font-size: 14px;
    color: $text;
    opacity: 1;
  }
  &:hover {
    transition: all 0.3s ease;
  }
  &:focus {
    transition: all 0.3s ease;
    outline: none;
    color: $text;
    &::placeholder {
      font-size: 0px;
    }
  }
  &__wrapp {
    display: block;
  }
  &__label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $text-light;
    margin-bottom: 5px;
  }
}
.scrollbar {
  max-height: 300px !important;
  height: auto;
  overflow: hidden;
  overflow-y: auto;
  & > .scroll-element.scroll-y {
    left: inherit;
    right: 0;
    z-index: 100;
  }
  & > .scroll-element .scroll-element_track {
    background: #fff;
  }
  & > .scroll-element .scroll-bar {
    background-color: $primary;
  }
}
.scrollbar-inner {
  max-height: 150px !important;
}
.scrollbar-inner > .scroll-element.scroll-y {
  left: auto;
  right: 0;
  width: 3px;
}
.scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: #e2e4ea;
  width: 1px;
  margin-left: 1px;
}
.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #b1b9ca;
  width: 3px;
}

.price__range {
  font-size: 14px;
  line-height: 18px;
  color: $text-light;
  span {
    font-family: 'Stapel';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $text-secondery;
    margin-left: 5px;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.schedule {
  padding: 20px;
  border-radius: 3px;
  background: #f4f7fa;
  text-align: left;
  &-head {
    font-family: 'Stapel';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1e1e1e;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e4ea;
    margin-bottom: 15px;
  }
  &-row {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
  }
  &-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 14px;
  }
  &-street {
    font-size: 14px;
    line-height: 18px;
    color: $text;
  }
  &-day {
    font-size: 14px;
    line-height: 18px;
    color: #717784;
    span {
      font-weight: 700;
      color: $text;
      margin-right: 5px;
    }
  }
  &-tell {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #717784;
  }
}
/******* Preloader ********/
#dr-preloader {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999;
  top: 0;
  left: 0;
  transition: all 300ms linear 0ms;
  background-color: #fff;
  .dr-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 4em;
    height: 4em;
    &-child {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $blue;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      animation: sk-double-bounce 2s infinite ease-in-out;
    }
    &-double-bounce-2 {
      animation-delay: -1s;
    }
  }
}
@keyframes sk-double-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
