/* stapel-500 - latin_cyrillic */
@font-face {
  font-family: 'Stapel';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/stapel/Stapel_Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/stapel/Stapel_Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ProximaNova-Light - latin_cyrillic */
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/proxima/ProximaNova-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/proxima/ProximaNova-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ProximaNova-Reg - latin_cyrillic */
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/proxima/ProximaNova-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/proxima/ProximaNova-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ProximaNova-Semi - latin_cyrillic */
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/proxima/ProximaNova-Semibold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/proxima/ProximaNova-Semibold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ProximaNova-Bold - latin_cyrillic */
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/proxima/ProximaNova-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/proxima/ProximaNova-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
