.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 130px;
  z-index: 1000;
  &-body {
    position: relative;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #758089;
  }
  &-top__nav {
    display: flex;
    align-items: center;
  }
  &-top__location {
  }
  &-top__location-link {
    display: block;
    position: relative;
    padding: 10px 15px 10px 20px;
    border-right: 1px solid #e2e4ea;
    color: $text-light;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 12px;
      height: 15px;
      background: url('../img/icons/location-icon.svg') center center no-repeat;
      transform: translateY(-50%);
    }
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
    }
  }
  &-top__menu {
    margin: 0 15px;
  }
  &-top__menu-list {
    display: flex;
    align-items: center;
  }
  &-top__menu-item {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-top__menu-link {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #c1c7cb;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
    }
  }
  &-top__info {
    display: flex;
    align-items: center;
  }
  &-top__address,
  &-top__contact {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-top__address-text {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2px;
    color: $text-light;
  }
  &-top__address-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: $text-secondery;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-light;
    }
  }
  &-top__contact-tell {
    p {
      font-family: 'Stapel';
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 3px;
      color: $text-light;
      transition: all 0.3s ease;
      &:hover {
        transition: all 0.3s ease;
        color: $text-secondery;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 25px;
      height: 30px;
      background: url('../img/icons/tell-icon.svg') center center no-repeat;
      display: none;
    }
  }
  &-top__contact-text {
    font-size: 12px;
    line-height: 16px;
    color: #c1c7cb;
  }
  &-top__cabinet {
  }
  &__cabinet-entry {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 11px 13px;
    color: $text-light;
    border: 1px solid $white;
    border-radius: 3px;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
      border: 1px solid $secondery;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-mob__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  &-bottom__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-bottom__menu {
    padding: 24px 0;
  }
  &-bottom__menu-list {
    display: flex;
    align-items: center;
  }
  &-bottom__menu-item {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-bottom__menu-link {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #c1c7cb;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
    }
  }
  &-mob__body {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 30px 20px;
    width: 100%;
    overflow: auto;
    background: $primary;
    z-index: -1;
    transform: translateX(-1000%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    &.active {
      z-index: 1000;
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;
    }
  }
  &-mob__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &-mob__body-close {
    display: block;
    width: 12px;
    height: 12px;
    background: url('../img/icons/close-icon.svg') center center no-repeat;
  }
  &-mob__location {
  }
  &-mob__location-link,
  &-mob__location-street {
    position: relative;
    padding-left: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 2px;
    color: #e2e4ea;
  }
  &-mob__location-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 12px;
    height: 15px;
    background: url('../img/icons/location-icon.svg') center center no-repeat;
    transform: translateY(-50%);
  }
  &-mob__cabinet {
    padding: 20px 0;
    border-top: 1px solid #1d49a2;
    border-bottom: 1px solid #1d49a2;
    margin-bottom: 20px;
    .header__cabinet-entry {
      border: 1px solid #4f71b7;
      &:hover {
        color: $text-secondery;
        border: 1px solid $secondery;
      }
    }
  }

  &-mob__menu {
  }
  &-mob__menu-item:first-child a {
    padding-top: 0;
  }
  &-mob__menu-item:last-child a {
    padding-bottom: 0;
  }
  &-mob__menu-link {
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $text-light;
    padding: 12px 0;
    &:hover {
      color: $text-secondery;
    }
  }
}

.logo-dark {
  display: none;
}
.header.header-dark {
  .header-bottom__logo,
  .header-mob__logo {
    .logo-dark {
      display: block;
    }
    .logo-light {
      display: none;
    }
  }
}

//Burger
.header-burger {
  width: 16px;
  height: 13px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: $white;
    opacity: 1;
    right: 0;
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }

  &__wrapper {
    display: none;
    align-items: center;
    &.active {
      span {
        &:nth-child(1) {
          top: 6px;
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          right: 60px;
        }
        &:nth-child(3) {
          top: 6px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}
