.h-fixed {
  position: fixed !important;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  transition: all ease 0.3s;
  opacity: 1;
  background: #fff;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
}
.header-top__indent {
  padding-top: 190px !important;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  max-height: 130px;
  z-index: 1000;
  &.active {
    z-index: 15;
    top: -100%;
    transition: all 0.3s;
  }
  &-body {
    position: relative;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  &-top__nav {
    display: flex;
    align-items: center;
  }
  &-top__location {
    position: relative;
    transition: all 0.3s ease;
    &.active {
      .location-popup {
        opacity: 1 !important;
        visibility: visible !important;
        transition: all 0.3s ease;
        &__btn {
          font-weight: 700;
          text-transform: uppercase;
          padding: 11px 18px;
          outline: none;
          font-size: 12px;
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            border: none;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
  &-top__location-link {
    display: block;
    position: relative;
    padding: 10px 15px 10px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    color: $text-light;
    cursor: pointer;
    &::after {
      background: url('../img/icons/location-icon.svg') center center no-repeat;
    }
    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 12px;
      height: 16px;

      transform: translateY(-50%);
    }
    &::before {
      display: none;
      background: url('../img/icons/location-icon-dark.svg') center center no-repeat;
    }
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
    }
  }
  &-top__menu {
    margin: 0 15px;
  }
  &-top__menu-list {
    display: flex;
    align-items: center;
  }
  &-top__menu-item {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-top__menu-link {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #c1c7cb;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
    }
    &.active {
      color: $text-secondery;
    }
  }
  &-top__info {
    display: flex;
    align-items: center;
  }
  &-top__address,
  &-top__contact {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-top__address-text {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2px;
    color: $text-light;
  }
  &-top__address-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: $text-secondery;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-light;
    }
  }
  &-top__contact-tell {
    p {
      font-family: 'Stapel';
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 3px;
      color: $text-light;
      transition: all 0.3s ease;
      &:hover {
        transition: all 0.3s ease;
        color: $text-secondery;
      }
    }
    &::after,
    &::before {
      content: '';
      display: block;
      width: 25px;
      height: 30px;
      background: url('../img/icons/tell-icon.svg') center center no-repeat;
      display: none;
    }
    &::before {
      background: url('../img/icons/tell-icon-dark.svg') center center no-repeat;
      display: none;
    }
  }
  &-top__contact-text {
    font-size: 12px;
    line-height: 16px;
    color: #c1c7cb;
  }
  &-top__cabinet {
    position: relative;
  }
  &__cabinet-entry {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 11px 13px;
    color: $text-light;
    border: 1px solid $white;
    border-radius: 3px;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
      border: 1px solid $secondery;
    }
  }
  &-authorized {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-left: -10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 2px;
      top: 46%;
      width: 8px;
      height: 8px;
      transform: translateY(-50%) rotate(-45deg);
      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
      transition: all 0.3s ease;
    }
    &:hover {
      .header-authorized__login {
        transition: all 0.3s ease;
        color: $text-secondery;
      }
      &::after {
        border-bottom: 2px solid $secondery;
        border-left: 2px solid $secondery;
        transition: all 0.3s ease;
      }
      .header-authorized__popup {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
      }
    }
  }
  &-authorized__login {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: $text-light;
    transition: all 0.3s ease;
  }
  &-authorized__logo {
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 50%;
    margin-left: 12px;
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-mob__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  &-bottom__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-bottom__menu {
    padding: 24px 0;
  }
  &-bottom__menu-list {
    display: flex;
    align-items: center;
  }
  &-bottom__menu-item {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-bottom__menu-link {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #c1c7cb;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
    }
    &.active {
      color: $text-secondery;
    }
  }
  &-mob__body {
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 30px 20px;
    width: 100%;
    overflow: auto;
    background: $primary;
    z-index: -1;
    transform: translateX(-1000%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    &.active {
      z-index: 1000;
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;
    }
  }
  &-mob__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &-mob__body-close {
    display: block;
    width: 12px;
    height: 12px;
    background: url('../img/icons/close-icon.svg') center center no-repeat;
  }
  &-mob__location {
  }
  &-mob__location-link,
  &-mob__location-street {
    position: relative;
    padding-left: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 2px;
    color: #e2e4ea;
  }
  &-mob__location-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 12px;
    height: 15px;
    background: url('../img/icons/location-icon.svg') center center no-repeat;
    transform: translateY(-50%);
  }
  &-mob__cabinet {
    padding: 20px 0;
    border-top: 1px solid #1d49a2;
    border-bottom: 1px solid #1d49a2;
    margin-bottom: 20px;
    .header__cabinet-entry {
      color: $white !important;
      background: transparent !important;
      border: 1px solid #4f71b7;
      &:hover {
        color: $text-secondery;
        border: 1px solid $secondery;
      }
    }
  }
  &-mob__authorized {
    .authorized-logo {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .authorized-logo__img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: block;
      margin-right: 12px;
    }
    .authorized-login {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: $text-light;
    }
    .authorized-menu {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-wrap: wrap;
    }
    .authorized-menu__item {
      margin-bottom: 20px;
      width: 50%;
    }
    .authorized-menu__link {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $text-light;
      text-transform: uppercase;
    }
    .authorized-btn {
      display: block;
      width: 100%;
      max-width: 400px;
      padding: 11px 15px;
      color: $text-light;
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      border-radius: 3px;
      background: #1d49a2;
    }
  }

  &-mob__menu {
  }
  &-mob__menu-item:first-child a {
    padding-top: 0;
  }
  &-mob__menu-item:last-child a {
    padding-bottom: 0;
  }
  &-mob__menu-link {
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $text-light;
    padding: 12px 0;
    &:hover {
      color: $text-secondery;
    }
  }
  &-authorized__popup {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
}

.logo-dark {
  display: none;
}
.header.header-light,
.header.h-fixed {
  .header-burger span {
    background: #1e1e1e;
  }
  .header-top {
    border-bottom: 1px solid #e2e4ea;
  }
  .header-top__location-link {
    border-right: 1px solid #e2e4ea;
  }
  .header-authorized {
    border-left: 1px solid #e2e4ea;
  }
  .header-bottom__logo,
  .header-mob__logo {
    .logo-dark {
      display: block;
    }
    .logo-light {
      display: none;
    }
  }
  .header-top__location-link {
    &::after {
      display: none;
    }
    &::before {
      display: block;
    }
  }
  .header-bottom__menu-link,
  .header-top__menu-link,
  .header-top__location-link {
    color: #717784;
    &:hover {
      color: $text-secondery;
    }
    &.active {
      color: $text-secondery;
    }
  }
  .header-top__contact-tell p:hover {
    color: $text-secondery;
  }
  .header-top__address-text,
  .header-authorized__login,
  .header-top__contact-tell p {
    color: $text;
  }
  .header-top__contact-text {
    color: #b1b9ca;
  }
  .header__cabinet-entry {
    background: transparent;
    color: $text;
    border: 1px solid #e2e4ea;
    &:hover {
      transition: all 0.3s ease;
      color: $text-secondery;
      border: 1px solid $secondery;
    }
  }
  .header-top__address-link:hover {
    color: $text-secondery;
  }
  .header-authorized::after {
    border-bottom: 2px solid $dark;
    border-left: 2px solid $dark;
  }
  .header-authorized:hover {
    .header-authorized__login {
      color: $text-secondery;
    }
    &::after {
      border-bottom: 2px solid $secondery;
      border-left: 2px solid $secondery;
    }
  }
}

//Burger
.header-burger {
  width: 16px;
  height: 13px;
  position: relative;
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1000;

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: $white;
    opacity: 1;
    right: 0;
    transition: 0.2s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }

  &__wrapper {
    display: none;
    align-items: center;
    &.active {
      .header-burger {
        opacity: 0;
        transition: 0.2s ease-in-out;
      }
      span {
        &:nth-child(1) {
          top: 6px;
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          right: 60px;
        }
        &:nth-child(3) {
          top: 6px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}

.location-popup {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 15px;
  width: 250px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  &__body {
    position: relative;
    box-shadow: 0px 20px 40px rgba(30, 30, 30, 0.1);
    border-radius: 3px;
    background: #ffffff;
    padding: 20px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 30px;
      border: 10px solid transparent;
      border-top: 10px solid $white;
      border-radius: 3px;
      transform: translateY(-90%) rotate(180deg);
    }
  }

  &__title {
    font-family: 'Stapel';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $text;
    margin-bottom: 20px;
  }
  &__btn {
    margin-right: 10px;
  }
  &__search-city {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $text-primary;
    padding: 11px 0px;
    transition: all 0.3s ease;
    &:hover {
      color: $text-secondery;
      transition: all 0.3s ease;
    }
  }
}

.popup-authorized {
  padding: 20px;
  width: 190px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(30, 30, 30, 0.1);
  border-radius: 3px;
  &__status-wrapp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e4ea;
    margin-bottom: 15px;
  }
  &__status-logo {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    margin-right: 12px;
  }
  &__status-content {
  }
  &__status {
    font-family: 'Stapel';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $text;
  }
  &__status-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #b1b9ca;
  }
  &__menu {
    margin-bottom: 15px;
  }
  &__menu-item {
    margin-bottom: 8px;
  }
  &__menu-link {
    display: block;
    line-height: 18px;
    color: #717784;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      color: $text-primary;
    }
  }
  &__btn {
    width: 100%;
    display: block;
    text-align: center;
    padding: 11px 10px;
  }
}
