@media (max-width: 1050px) {
  //=========================== HEADER
  .header {
    &-top__address {
      display: none;
    }
    &-top__contact-tell::after {
      display: block;
    }
    &-top__contact-tell p,
    &-top__contact-text {
      display: none;
    }
    &-bottom__menu-item {
      margin-right: 20px;
    }
    &.header-dark {
      .header-top__contact-tell::after {
        display: none;
      }
      .header-top__contact-tell::before {
        display: block;
      }
    }
  }
  //=========================== HEADER AND
}
@media (max-width: 767px) {
  .page {
    padding-top: 60px;
  }
  .page__no-padding {
    padding-top: 0px;
  }
  .popup-title {
    font-size: 18px;
  }
  //=========================== HEADER
  .header {
    max-height: 60px;
    &-bottom,
    &-top__nav,
    &-top__cabinet {
      display: none;
    }
    &-top__contact {
      margin-right: 0;
    }
    &-burger__wrapper {
      display: block;
    }
    &-mob__logo {
      display: flex;
    }
  }

  //=========================== HEADER AND

  //====================== Popup city
  .popup-cities__body {
    padding: 50px 20px 10px 20px;
  }
  .selectCity {
    &__item {
      width: 50%;
    }
  }
  .selectRegion__item-title {
    font-size: 14px;
  }
  //====================== Popup city and
}
