@media (max-width: 1200px) {
  .main-form__light {
    .main-form__label_phone {
      max-width: 100%;
    }
    .main-form__phone {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    .main-form__wrapper {
      flex-direction: column;
    }
  }

  //=========================== HEADER
  .header {
    &-top__address {
      display: none;
    }
    &-top__contact-tell::after {
      display: block;
    }
    &-top__contact-tell p,
    &-top__contact-text {
      display: none;
    }
    &-bottom__menu-item {
      margin-right: 20px;
    }
    &.header-light {
      .header-top__contact-tell::after {
        display: none;
      }
      .header-top__contact-tell::before {
        display: block;
      }
    }
  }

  .header.h-fixed {
    .header-top__contact-tell::after {
      display: none;
    }
    .header-top__contact-tell::before {
      display: block;
    }
  }
  //=========================== HEADER end
  //=========================== Calcularor
  .calculator {
    &-settings {
      margin-right: 50px;
    }
    &-form__body {
    }
  }
  //=========================== Calcularor end
  //=========================== price-oftype
  .price-oftype {
    &__form .main-form__label {
      max-width: 200px;
    }
    &__slider {
      width: 450px;
    }
    .main-form__light .main-form__wrapper {
      flex-direction: row;
    }
  }
  //=========================== price-oftype end
  //=========================== redemption
  .redemption {
    &-slider {
      .slick-active:nth-child(1) .redemption-list {
        margin-right: 0px;
      }
    }
  }
  //=========================== redemption end
  //=========================== price-ofauto
  .price-ofauto {
    &__form {
      .main-form__label_phone {
        margin-bottom: 0px;
      }
    }
  }

  //=========================== price-ofauto end
  //=========================== loyalty-instruction
  .loyalty-instruction {
    &__card {
      max-width: 350px;
      margin-left: 50px;
      img {
        max-width: 350px;
      }
    }
  }
  //=========================== loyalty-instruction and
}
@media (max-width: 992px) {
  //=========================== HEADER
  .header {
    &-top__menu-item {
      margin-right: 10px;
    }
    &-bottom__menu-item {
      margin-right: 15px;
    }
  }

  //=========================== HEADER AND
  //=========================== Catalysts
  .catalysts {
    .title {
      margin-bottom: 30px;
    }
    &__item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  //=========================== Catalysts end
  //=========================== Brands
  .brands {
    &__header {
      display: block;
    }
    .title {
      margin-bottom: 30px;
    }
    &__item {
      flex: 0 0 25%;
      width: 100%;
      max-width: 25%;
    }
  }
  //=========================== Brands end
  //=========================== Delete-catalysts
  .delete-catalysts {
    &__wrapper {
      padding-bottom: 300px;
      background-position-x: 80%;
    }
  }

  //=========================== Delete-catalysts end
  //=========================== prices-ofmetal
  .prices-ofmetal {
    &__list {
      justify-content: center;
    }
    &__item {
      width: calc(50% - 30px);
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  //=========================== prices-ofmetal end
  //=========================== pass-material
  .pass-material {
    img {
      position: static;
      width: 100%;
      max-width: 60px;
      height: auto;
      margin-bottom: 15px;
    }
    &__text {
      margin-bottom: 20px;
    }
    &__item {
      height: 100%;
    }
  }
  //=========================== pass-material end

  //=========================== Calcularor
  .calculator {
    &-body {
      flex-direction: column;
    }
    &-settings {
      max-width: 100%;
      margin-right: 0px;
      margin-bottom: 50px;
    }
    &-form {
      max-width: 100%;
    }
  }
  .options-item__range {
    max-width: 100%;
  }
  //=========================== Calcularor end
  //=========================== about-company
  .about-company {
    &__histoty {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 50px;
    }
    &__statistics {
      width: 100%;
      max-width: 470px;
    }
    &__quantity-people {
      padding-bottom: 20px;
      font-size: 42px;
      line-height: 40px;
    }
    &__statistics-item {
      font-size: 18px;
      line-height: 22px;
      margin-top: 15px;
      span {
        font-size: 12px;
        line-height: 16px;
      }
      &:last-child {
        padding-left: 17px;
      }
    }
    &__target {
      padding: 20px;
    }
    &__target-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 12px;
    }
  }

  //=========================== about-company end
  //=========================== Bonuses
  .bonuses {
    &-body {
      background: inherit;
      border-radius: 0px;
      padding: 0px;
      position: relative;
      &:after {
        display: none;
      }
    }
    &-title {
      margin-bottom: 25px;
      color: $text;
    }
    &-list {
      padding-bottom: 0px;
      border-bottom: 0px;
      width: calc(100% + 15px);
      margin: 0 -7.5px;
    }
    &-item {
      &:last-child {
        margin-right: auto;
      }
      max-width: 100%;
      width: calc(33.333% - 15px);
      margin: 0 7.5px;
      padding: 20px;
      background: #101010;
      border-radius: 3px;
    }
    &-item__percent {
      margin-bottom: 5px;
    }
    &-item__title {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    &-options {
      padding: 20px;
      margin-top: 15px;
      flex-direction: column;
      background: #101010;
      border-radius: 3px;
    }
    &-offer {
      padding-top: 50px;
      padding-left: 0px;
      max-width: 100%;
      &::after {
        left: 0;
        top: 0;
      }
    }
    &-offer__title {
      font-size: 14px;
      line-height: 18px;
      color: $white;
      margin-right: 0px;
      max-width: 400px;
    }
    &-offer__link {
      display: none;
    }
    &-programs {
      justify-content: space-between;
      padding: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    &-programs__item {
      padding-right: 0px;
      max-width: 35%;
      &:last-child {
        width: 100%;
        max-width: 35%;
        padding-left: 0px;
        padding-right: 0px;
        border-left: 0px;
      }
    }
    &-more-btn {
      display: block;
    }
  }
  //=========================== Bonuses end
  //=========================== price-oftype
  .price-oftype {
    .container--desc {
      padding: 0;
      max-width: 100%;
    }
    .container--mob {
      padding: 0 15px;
    }
    &__body {
      flex-direction: column;
    }
    &__content {
      max-width: 100%;
      margin-bottom: 50px;
      margin-right: 0;
    }
    &__slider {
      width: 100%;
    }
    &__slider-item {
      padding-bottom: 11%;
    }
  }
  //=========================== price-oftype end
  //=========================== article
  .article__big-items {
    margin-bottom: 20px;
    .article {
      &__item {
        &:hover .article__item-title {
          color: $text-primary;
        }
      }
      &__item-title {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
        color: $text;
      }
      &__text {
        color: $text-gray;
        margin-bottom: 10px;
      }
      &__date,
      &__views {
        font-weight: 700;
        opacity: 1;
      }
      &__views {
        color: $text-primary;
        svg {
          fill: $text-primary;
        }
      }
      &__date {
        color: $text-gray;
      }
      &__item-bottom {
        margin-top: 20px;
        position: relative;
        bottom: auto;
        padding: 0px;
      }
      &__label {
        left: 10px;
        top: 10px;
      }
    }
  }
  //=========================== article end
  //=========================== requirement
  .requirement {
    &-list {
      flex-wrap: wrap;
    }
    &-item {
      padding: 20px;
    }
    &-item__icon {
      height: 16px;
      margin-bottom: 20px;
    }
    &-item__title {
      font-size: 14px;
      line-height: 18px;
    }
    &-item__link {
      &--tell {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  //=========================== requirement end
  //=========================== redemption
  .redemption {
    &-title {
      margin-bottom: 30px;
    }
    &-body {
      padding: 50px 70px;
    }
  }
  //=========================== redemption end
  //=========================== price-ofauto
  .price-ofauto {
    &__content {
      padding: 50px 25px 50px 25px;
      margin-right: 15px;
    }
    &__head {
      margin-bottom: 20px;
    }
    &__logo {
      min-width: 90px;
      min-height: 90px;
      max-width: 90px;
      max-height: 90px;
      margin-right: 20px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__form {
      padding: 50px 25px 50px 25px;
    }
    &__form-title {
      font-size: 18px;
      line-height: 22px;
    }
    &__form-text {
      margin-bottom: 20px;
    }
  }
  //=========================== price-ofauto end
  //=========================== calculator-price__ofauto
  .calculator-price__ofauto {
    .options-item {
      max-width: 350px;
      margin-bottom: 0;
    }
    .calculator {
      &-title {
        margin-top: 0px;
        margin-bottom: 30px;
      }
      &-settings {
        margin-bottom: 30px;
      }
      &-options {
        display: flex;
        justify-content: space-between;
      }
    }
    .select {
      margin-bottom: 15px;
      &__body {
        max-width: 240px;
        left: 0 !important;
        right: auto;
      }
      &__header-search {
        width: 240px;
        flex-direction: column;
        align-items: flex-start;
      }
      &__label {
        font-weight: 700;
      }
    }
  }
  //=========================== calculator-price__ofauto end
  //=========================== additional-service
  .additional {
    &-title {
      margin-bottom: 30px;
    }
    &-list {
      width: calc(100% + 20px);
      margin: 0 -10px -20px -10px;
    }
    &-item {
      width: calc(50% - 20px);
      margin: 0 10px 20px 10px;
    }
  }

  //=========================== additional-service  end
  //=========================== About block
  .about-block {
    padding: 50px 0;
    &__btn {
      margin-bottom: 50px;
      .btn:first-child {
      }
    }
  }
  //=========================== About block end
  //=========================== Reviews
  .reviews {
    .slider-btn__prev {
      left: -10px;
    }
    .slider-btn__next {
      right: -10px;
    }
  }
  //=========================== Reviews end
  //=========================== Features
  .features {
    padding: 50px 0;
    &__text {
      margin-bottom: 30px;
      :last-child {
        margin-bottom: 0;
      }
    }
  }
  //=========================== Features end
  //=========================== loyalty-programs
  .loyalty-programs {
    .bonuses {
      &-list {
        width: calc(100% + 15px);
        margin: 0 -7.5px;
      }
      &-item {
        width: calc(33.3333% - 15px);
        margin: 0 7.5px;
        padding: 20px;
      }
      &-options {
        padding: 20px;
      }
    }
  }
  //=========================== loyalty-programs  and
  //=========================== loyalty-instruction
  .loyalty-instruction {
    &__card {
      display: none;
    }
    &__steps {
      .steps {
        &__item {
          padding: 20px;
        }
        &__item-title {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  //=========================== loyalty-instruction and
  //=========================== representative
  .representative {
    &-item__title {
      margin-left: 30px;
    }
    &-list__cities-item {
      width: 33.333%;
    }
  }
  //=========================== representative and
  //=========================== loyalty-cabinet
  .loyalty-cabinet {
    &__entry {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
    &__entry-title {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 20px;
    }
    &__entry-btn {
      margin-top: auto;
    }
    &__conditions {
      .requirement {
        &-item {
          width: 50%;
          padding: 0 20px 20px 20px;
        }
      }
    }
  }
  //=========================== loyalty-cabinet and
  //=========================== privacy-policy
  .privacy-policy-page {
    .page-head {
      margin-left: 250px;
    }
  }
  .privacy-policy {
    &__menu-body {
      margin-right: 50px;
    }
  }
  //=========================== privacy-policy and
  //=========================== franchise-sentence
  .franchise-sentence {
    &__img {
      max-width: 300px;
      margin-left: 30px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }
    &__item {
      max-width: 200px;
    }
  }
  //=========================== franchise-sentence and

  //=========================== Footer
  .footer {
    &-body {
      flex-wrap: wrap;
    }
    &-item {
      width: 35%;
      margin-bottom: 30px;
    }
  }
  //=========================== Footer end
}
@media (max-width: 767px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .h3,
  h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .section-wrapper {
    padding: 25px 0;
  }

  .page-head {
    margin-bottom: 20px;
  }

  .popup {
    &-primary__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
    }
    &-secondery__title {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 10px;
    }
    &-body {
      padding: 50px 25px;
    }
    &-form {
      .main-form__label {
        margin-bottom: 0;
      }
    }
  }
  .popup-vacancy {
    .popup-secondery__title {
      font-size: 24px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
  }
  .primary-title {
    font-size: 18px;
    line-height: 22px;
    &__light {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .page {
    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    }
    &__all-content {
      h3 {
        margin-top: 50px;
        margin-bottom: 20px;
      }
      h4 {
        margin-top: 30px;
        margin-bottom: 15px;
      }
    }
  }

  //=========================== HEADER
  .header-top__indent {
    padding-top: 110px !important;
  }
  .header {
    max-height: 60px;
    &-bottom,
    &-top__nav,
    &-top__cabinet {
      display: none;
    }
    &-top__contact {
      margin-right: 0;
    }
    &-burger__wrapper {
      display: block;
    }
    &-mob__logo {
      display: flex;
    }
    &.h-fixed {
      .header-top {
        border-bottom: none;
      }
    }
  }
  //=========================== HEADER end
  //=========================== prices-ofmetal
  .prices-ofmetal {
    &__head {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }
    &__title {
      max-width: 160px;
      margin-bottom: 15px;
    }
    &__item {
      width: calc(100% - 30px);
      margin-bottom: 15px;
      padding: 20px 20px 6px 20px;
    }
  }
  .item-ofmetal {
    &__head {
      padding-bottom: 20px;
    }
    &__title {
      font-size: 18px;
      line-height: 23px;
    }
  }
  //=========================== prices-ofmetal end
  //=========================== pass-material
  .pass-material {
    &__item {
      max-width: 370px;
    }
    &__text {
      max-width: 100%;
    }
  }
  //=========================== pass-material end
  //=========================== Calcularor
  .calculator {
    &-price .container {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }
    &-body {
      padding: 50px 25px;
      &:after {
        left: 20px;
        top: 20px;
        width: 60px;
        height: 60px;
        z-index: 10;
        background: url('../img/icons/calculator-icon.svg') center center no-repeat;
        background-size: contain;
      }
    }
    &-form {
      display: none;
    }
    &-settings {
      margin-bottom: 15px;
    }
    &-result__title {
      font-size: 14px;
    }
    &-calculate-btn {
      display: block;
    }
    &-form {
      padding: 50px 20px;
    }
    &-form__title {
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 24px;
    }
    &-form__price {
      text-align: center;
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 20px;
    }
    &-form__text {
      font-size: 14px;
      color: #717784;
      margin-bottom: 30px;
      text-align: center;
    }
    &-form__tell-label {
      text-align: center;
      margin-top: 45px;
    }
    &-form__tell {
      display: block;
      text-align: center;
    }
  }
  .options-item__percent {
    font-size: 12px;
  }

  //=========================== Calcularor end
  //=========================== Bonuses
  .bonuses {
    &-list {
      flex-direction: column;
    }
    &-item {
      width: calc(100% - 15px);
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-programs {
      flex-direction: column;
    }
    &-programs__item {
      margin-bottom: 20px;
      max-width: 170px;
      &:last-child {
        max-width: 170px;
      }
    }
  }
  //=========================== Bonuses end
  //=========================== price-oftype
  .price-oftype {
    .main-form {
      width: 100%;
      order: 1;
    }
    &__text {
      order: 2;
      margin: 30px 0 0 0;
    }
    .main-form__light .main-form__wrapper {
      flex-direction: column;
    }
    .main-form__submit,
    .main-form__label_phone {
      max-width: 400px;
      margin-right: 0;
    }
    &__content .container {
      display: flex;
      flex-flow: wrap;
    }
    &__title {
      width: 100%;
      order: 0;
      max-width: 250px;
      margin-bottom: 0;
    }
    &__range {
      width: 100%;
      order: 0;
      margin-bottom: 10px;
      span {
        font-size: 18px;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__slider-wrapper .slider-item__preview-btn {
      display: block;
    }
  }
  //=========================== price-oftype end
  //=========================== requirement
  .requirement {
    &-title {
      max-width: 220px;
      margin-bottom: 30px;
    }
    &-item {
      width: 50%;
    }
    &-item__link {
      &--tell {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
  //=========================== requirement end
  //=========================== redemption
  .redemption {
    &-title {
      max-width: 200px;
    }
  }
  //=========================== redemption end
  //=========================== redemption-ofauto
  .redemption-ofauto {
    &__title {
      margin-bottom: 30px;
      max-width: 200px;
    }
    &__list {
      width: calc(100% + 15px);
      margin: 0 -7.5px -15px -7.5px;
    }
    &__item {
      width: calc(50% - 15px);
      margin: 0 7.5px 15px 7.5px;
      padding: 20px;
    }
    &__item-title {
      margin-bottom: 12px;
    }
  }
  //=========================== redemption-ofauto end
  //====================== Popup city
  .popup-cities__body {
    padding: 50px 20px 10px 20px;
  }
  .selectCity {
    &__item {
      width: 50%;
    }
  }
  .selectRegion__item-title {
    font-size: 14px;
  }
  //====================== Popup city end
  //=========================== price-ofauto
  .price-ofauto {
    .container {
      padding: 0;
    }
    &__body {
      flex-direction: column;
    }
    &__content {
      margin-right: 0px;
    }
    &__logo {
      min-width: 60px;
      min-height: 60px;
      max-width: 60px;
      max-height: 60px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__form {
      border: none;
      padding: 50px 25px 20px 25px;
    }
  }
  //=========================== price-ofauto end
  //=========================== Reviews
  .reviews {
    &__item {
      padding: 20px;
      max-width: 100%;
    }
    &__top {
      h4 {
        font-size: 14px;
      }
    }
    .link {
      max-width: 90px;
    }
    .slider-btn__prev {
      left: -15px;
    }
    .slider-btn__next {
      right: -15px;
    }
  }
  //=========================== Reviews end
  //=========================== about-company
  .about-section__title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .about-team {
    padding-bottom: 60px;
    &__item-name {
      font-size: 14px;
      line-height: 18px;
      margin-top: 5px;
    }
  }
  //=========================== about-company end
  //=========================== calculator-price__ofauto
  .calculator-price__ofauto {
    .select {
      &__body {
        max-width: 200px;
      }
      &__header-search {
        width: 200px;
      }
    }
  }
  //=========================== calculator-price__ofauto end

  //=========================== calculator-price__ofauto and
  //=========================== steps
  .steps {
    &__title {
      max-width: 250px;
    }
    &__item {
      padding: 20px;
    }
    &__item-num {
      font-size: 42px;
      line-height: 42px;
    }
    &__item-title {
      font-size: 14px;
      line-height: 18px;
    }
  }

  //=========================== additional-service
  .additional {
    &-item__title {
      font-size: 14px;
      line-height: 18px;
    }

    &-item__price {
      font-size: 14px;
      line-height: 18px;
    }
  }

  //=========================== Article
  .article {
    &__item {
      max-width: 370px;
      margin: auto;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
    }
    &__label {
      top: 10px;
      left: 10px;
    }
    &__text {
      margin-bottom: 10px;
    }
    &-section__title {
      font-size: 18px;
      line-height: 22px;
    }
    &-section {
      margin-bottom: 50px;
    }
    &-section__row {
      margin-bottom: 20px;
    }
  }
  .article__big-items {
    .article {
      &__item {
        max-width: 100%;
      }
      &__item-img {
        padding-top: 54%;
      }
    }
  }
  .article__small-items {
    .article {
      &__item {
        max-width: 100%;
        padding: 20px;
      }
      &__item-title {
        font-size: 14px;
      }
      &__label {
        margin-bottom: 20px;
      }
    }
    // &__img img{
    //   max-width: 100%;
    //   width: 100%;
    //   display: block;
    //   height: auto;
    // }
  }
  .single-article {
    &__body {
      padding-top: 54%;
    }
    &__content {
      padding: 50px 25px;
      .page-title {
        margin-bottom: 10px;
      }
    }
  }
  //=========================== Map
  .map {
    &__header {
      .select__current {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
      }
    }
  }
  //=========================== Map end
  //=========================== Article AND

  //=========================== loyalty-programs
  .loyalty-programs {
    &__title {
      margin-bottom: 30px;
    }
    .bonuses {
      &-item {
        width: calc(100% - 15px);
        margin: 0 7.5px 15px 7.5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-options {
        padding: 20px;
      }
    }
  }
  //=========================== loyalty-programs  and
  //=========================== loyalty-cabinet
  .loyalty-cabinet {
    &__body {
      flex-direction: column-reverse;
    }
    &__entry {
      max-width: 100%;
      margin-top: 50px;
    }
  }
  //=========================== loyalty-cabinet and
  //=========================== privacy-policy
  .privacy-policy-page {
    .page-head {
      margin-left: 155px;
    }
  }
  .privacy-policy {
    &__menu-body {
      max-width: 140px;
      margin-right: 15px;
    }
    &__menu-title {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    &__menu-item {
      margin-bottom: 10px;
    }
    &__menu-link {
      font-size: 12px;
      line-height: 16px;
    }
  }
  //=========================== privacy-policy and

  //=========================== representative
  .representative {
    &-item {
      position: relative;
      display: block;
      border-bottom: 1px solid #e2e4ea;
      &:first-child {
        border-top: 1px solid #e2e4ea;

        .representative-list__cities {
          border-top: none;
        }
      }
      &.active .representative-item__head::after {
        transform: translateY(-50%) rotate(-225deg);
        transition: all 0.3s ease;
      }
    }
    &-item__img {
      width: 30px;
      img {
        height: 30px;
        max-height: 30px;
      }
    }
    &-item__head {
      position: relative;
      margin-right: 0;
      width: 100%;
      max-width: 100%;
      padding: 15px 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 4px;
        top: 50%;
        width: 8px;
        height: 8px;
        transform: translateY(-50%) rotate(-45deg);
        border-bottom: 2px solid #1e1e1e;
        border-left: 2px solid #1e1e1e;
        transition: all 0.3s ease;
      }
    }
    &-list__cities-wrapp {
      display: none;
    }
    &-list__cities {
      position: relative;
      border: none;
      padding: 5px 0 0 0;
      transition: all 0.3s;
    }
    &-list__cities-item {
      transition: all 0.3s ease;
    }
  }
  //=========================== representative and

  //=========================== franchise-sentence
  .franchise-sentence {
    padding: 50px 0;
    margin-bottom: 25px;
    &__head {
      flex-direction: column;
      margin-bottom: 30px;
    }
    &__content {
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-left: 0px;
    }
    &__item {
      max-width: 100%;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__item-title {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }
  //=========================== franchise-sentence and
  //=========================== franchise-map
  .franchise-map {
    &__title {
      margin-bottom: 20px;
    }
    &__info {
      width: 100%;
      max-width: 100%;
    }
    &__sub-title {
      margin-bottom: 30px;
    }
    &__info-content {
      padding: 20px 25px;
      height: auto;
    }
    &__region {
      display: none;
    }
    &__city {
      width: 33.333%;
    }
    &__body {
      display: none;
    }
    &__select {
      display: block;
    }
  }

  //=========================== franchise-map and
  //=========================== franchise-office
  .franchise-office {
    &__wrapp {
      justify-content: inherit;
      flex-direction: column;
    }
    &__content {
      max-width: 100%;
      margin-right: 0px;
      margin-bottom: 50px;
    }
    &__title {
      margin-bottom: 30px;
      max-width: 100%;
    }
    &__item-title {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    &__form-wrapp {
      display: flex;
      justify-content: center;
    }
    &__form {
      width: 100%;
      padding: 30px 25px;
      .main-form__label {
        margin-bottom: 0px;
      }
    }
  }
  //=========================== franchise-office and
  //=========================== franchise-benefit
  .franchise-benefit {
    &__title {
      margin-bottom: 20px;
      max-width: 100%;
    }
    &__sub-title {
      margin-bottom: 30px;
      max-width: 100%;
    }

    &__item {
      width: calc(50% - 30px);
    }
    &__item-title {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }
  //=========================== franchise-benefit and

  //=========================== Footer
  .footer {
    padding: 30px 0;
    &-body {
      margin-bottom: 50px;
    }
    &-contacts {
      order: 3;
    }
    &-tell,
    &-tell__text {
      display: none;
    }
    &-tell--mob,
    &-tell__text--mob {
      display: block;
      width: 100%;
    }
    &-item {
      width: 100%;
      margin-bottom: 0px;
    }
    &-item__title {
      margin-bottom: 0;
    }
    &-item__menu-list {
      display: none;
      padding: 8px 0;
    }
    &-contacts {
      margin-top: 25px;
    }
    &-item__about {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    &-item__about,
    &-item__clients,
    &-item__journal {
      position: relative;
      padding: 12px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 4px;
        top: 18px;
        width: 8px;
        height: 8px;
        transform: rotate(-45deg);
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        transition: all 0.3s ease;
      }
    }
    &-item.active {
      &::after {
        transform: rotate(-225deg);
      }
    }
  }
  //=========================== Footer end
}
@media (max-width: 578px) {
  .custom-popup {
    // min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    height: auto;
    min-height: 480px;
    padding-top: 160px;
    padding-bottom: 50px;
  }
  .main-form {
    max-width: 370px;
    &__wrapper {
      display: block;
    }
    &__label {
      max-width: 100%;
      margin-bottom: 10px;
      input {
        max-width: 100%;
      }
    }
    &__btn .btn {
      max-width: 100%;
      width: 100%;
    }
  }
  .main-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
  }

  //=========================== Brands
  .brands {
    &__header {
      display: block;
      margin-bottom: 30px;
    }
    &__search {
      display: block;
      span {
        max-width: 100%;
        display: inline-block;
        margin: auto;
        margin-bottom: 5px;
      }
      label {
        display: flex;
        align-items: center;
        position: relative;
        &::after {
          top: 18px;
        }
      }
      input {
        padding: 15px;
        width: 100%;
      }
    }
    .title {
      margin-bottom: 30px;
    }
    &__item {
      flex: 0 0 50%;
      width: 100%;
      max-width: 50%;
    }
  }
  //=========================== Brands end
  //=========================== Catalysts
  .catalysts {
    &__wrapper {
      margin-right: -5px;
      margin-left: -5px;
    }
    &__item {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 5px;
      padding-left: 5px;
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 14px;
      line-height: 18px;
    }
    &__link {
      margin-top: auto;
      font-size: 10px;
    }
  }
  //=========================== Catalysts end
  //=========================== Front page
  .main_front-page .main-title {
    margin-top: 0;
  }

  //=========================== Front page end
  .main_about-page {
    min-height: 300px;
    .main-title {
      margin-bottom: 0px;
    }
  }

  //=========================== requirement
  .requirement {
    &-item {
      width: 100%;
    }
  }
  //=========================== requirement end
  //=========================== redemption
  .redemption {
    .container {
      padding: 0;
      max-width: 100%;
    }
    &-body {
      padding: 50px 25px;
      &::after {
        left: 20px;
        top: 20px;
      }
    }
    &-slider {
      display: none;
    }
    &-form {
      display: block;
    }
  }
  //=========================== redemption end
  //=========================== redemption-ofauto
  .redemption-ofauto {
    &__item {
      width: calc(100% - 15px);
    }
  }
  //=========================== redemption-ofauto end
  //=========================== calculator-price__ofauto
  .calculator-price__ofauto {
    .options-item {
      max-width: 100%;
      margin-bottom: 0;
    }
    .calculator-settings {
      margin-bottom: 0px;
    }
    .calculator-options {
      flex-direction: column;
    }
    .select {
      &__body {
        max-width: 100%;
      }
      &__header-search {
        width: 100%;
      }
      &__arrow {
        max-width: 100%;
      }
    }
  }
  //=========================== calculator-price__ofauto end

  //=========================== calculator-price__ofauto and
  //=========================== steps
  .steps {
    &__item {
      width: 100%;
    }
  }
  //=========================== steps and
  //=========================== single-article
  .single-article {
    .container {
      padding: 0;
      width: 100%;
      max-width: 100%;
    }
    &__body {
      padding-top: 150%;
      border-radius: 0px;
    }
  }
  //=========================== single-article end
  //=========================== additional-service
  .additional {
    &-item {
      width: calc(100% - 20px);
    }
  }
  //=========================== additional-service  end
  //=========================== About block
  .about-block {
    &__content {
    }
    &__btn {
      margin-bottom: 50px;
      .btn {
        width: 100%;
        max-width: 100%;
        margin: auto;
      }
      .btn:first-child {
        margin-bottom: 15px;
      }
    }
    .about-info {
      h2 {
        font-size: 18px;
      }
      h5 {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
      }
      .big-price {
        font-size: 42px;
      }
      &__top {
      }
      &__bottom {
      }
      &_col {
      }
    }
  }
  //=========================== About block end
  //=========================== Map
  .map {
    &-wrapper{
      .map-list.scrollbar{
        max-height: 100% !important;
      }
    }
    &-tabs {
      margin-bottom: 20px;
    }
    &-item {
      padding: 20px;
      background-color: #fff;
      max-width: 320px;
      margin: auto;
      margin-bottom: 15px;
      border: 1px solid #e2e4ea;
      box-sizing: border-box;
      border-radius: 3px;
      h5 {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e2e4ea;
      }
      &::after {
        display: none;
      }
      &.active {
        background-color: #fff;
      }
      &_desk {
        display: none;
      }
      &_mob {
        display: block;
        border-bottom: 1px solid #e2e4ea;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      &_btn {
        display: block;
        .btn {
          font-size: 12px;
          padding: 10px;
          width: 100%;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          text-align: center;
          background: rgba(4, 53, 152, 0.1);
          border-radius: 3px;
          color: $blue;
        }
      }
    }
  }
  //=========================== Map end
  //=========================== loyalty-cabinet
  .loyalty-cabinet {
    .requirement {
      &-item {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
        width: 100%;
        &:nth-child(3) {
          padding-bottom: 30px;
        }
      }
    }
  }
  //=========================== loyalty-cabinet and
  //=========================== privacy-policy
  .privacy-policy-page {
    .page-head {
      margin-left: 0px;
    }
  }
  .privacy-policy {
    &__body {
      flex-direction: column;
    }
    &__menu-body {
      max-width: 100%;
      margin-right: 0px;
    }
    &__menu {
      display: flex;
      flex-wrap: wrap;
    }
    &__menu-item {
      margin-bottom: 10px;
      margin-right: 30px;
    }
    &__menu-link {
      font-size: 12px;
      line-height: 16px;
    }
  }
  //=========================== privacy-policy and
  //=========================== representative
  .representative {
    &-list__cities-item {
      width: 50%;
    }
  }
  //=========================== representative and
  //=========================== franchise-map
  .franchise-map {
    &__city {
      width: 50%;
    }
    &__info-content {
      margin-left: -25px;
      margin-right: -25px;
    }
    &__info-tabs {
      justify-content: space-between;
    }
    &__info-tab {
      margin-right: 0;
    }
  }

  //=========================== franchise-map and
  //=========================== franchise-office
  .franchise-office {
    &__item {
      width: 100%;
      max-width: 100%;
      &:nth-child(1),
      &:nth-child(3) {
        padding-right: 0px;
      }
    }
    &__form-wrapp {
      margin-left: -25px;
      margin-right: -25px;
    }
    &__form {
      max-width: 100%;
    }
  }
  //=========================== franchise-office and
  //=========================== franchise-benefit
  .franchise-benefit {
    &__item {
      width: calc(100% - 30px);
    }
  }
  //=========================== franchise-benefit and
}
@media (max-width: 400px) {
  //=========================== Calcularor
  .calculator {
    &-result__input {
      margin-left: auto;
    }
  }
  .options-item {
    justify-content: flex-start;
    &__range {
      display: none;
    }
    &__label {
      font-size: 14px;
    }
  }
  //=========================== Calcularor end
  //=========================== pass-material
  .pass-material {
    &__item {
      padding: 20px;
    }
    .btn {
      max-width: 100%;
      width: 100%;
    }
  }
  //=========================== pass-material end
  //=========================== Delete-catalysts
  .delete-catalysts {
    &__wrapper {
      padding: 20px;
      padding-bottom: 300px;
    }
    .btn {
      width: 100%;
    }
  }

  //=========================== Delete-catalysts end
  //=========================== franchise-calculator
  .franchise-calculator {
    .calculator {
      &-form__price {
        font-size: 30px;
      }
      &-input {
        width: 100px;
      }
      &-options {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
    }
    .options-item {
      width: 50%;
      margin-bottom: 15px;
      &__label {
        width: 50%;
        margin-bottom: 15px;
        max-width: 100px;
      }
    }
  }
  //=========================== franchise-calculator end
}
@media (max-width: 360px) {
  //=========================== price-ofauto
  .price-ofauto {
    &__head {
      align-items: flex-start;
    }
    &__logo {
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      max-height: 40px;
    }
    &__range {
      span {
        margin-right: 10px;
        font-size: 16px;
      }
    }
  }
  //=========================== price-ofauto end
  .about-block {
    .about-info {
      &_col:first-child {
        max-width: 110px;
      }
    }
  }
  //=========================== About block end
}
