.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-family: $base-font;
  color: $text;
}

.h1,
h1 {
}

.h2,
h2 {
  font-family: "Stapel Medium";
  font-weight: 500;
  font-size: 30px;
  line-height: 37, 95px;
}

.h3,
h3 {
  font-family: "Stapel Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}

.h4,
h4 {
  font-family: "Stapel Medium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.h5,
h5 {
  font-family: "Stapel Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.h6,
h6 {
}

p,
.p,
.typo-regular {
}

a {
}

.fz-16 {
  font-size: 16px;
}
.fz-12 {
  font-size: 12px;
}
