//=================== fonts
$base-font: 'ProximaNova', sans-serif;

//===================  colors-text
$text: #1e1e1e;
$text-gray: #717784;
$text-light: #ffffff;
$text-primary: #043598;
$text-secondery: #feb700;
$text-placeholder: #B1B9CA;
//===================  colors
$white: #ffffff;
$primary: #043598;
$dark: #1e1e1e;
$secondery: #feb700;

//===================  colors-elements
$bg-block: #f4f7fa;
$icon-secondery: #31bcfe;
$icon-primary: #043598;

//===================  colors btn
$primary-btn: #feb700;
$secondery-btn: #043598;
$gray-btn: #717784;
$opacity-btn: rgba(255, 255, 255, 0.15);
