.main {
    min-height: 670px;
    &-title {
        color: #fff;
        margin-bottom: 30px;
    }
}
.curs-metal {
    background: #ffffff;
    box-shadow: 0px 20px 40px rgba(30, 30, 30, 0.1);
    border-radius: 3px;
    padding: 30px;
    &-list {
        margin-bottom: 30px;
        &__item {
            padding: 10px 0;
            border-bottom: 1px solid #e2e4ea;
            .h4 {
                color: #717784;
            }
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h3 {
            max-width: 210px;
        }
    }
    &__icon {
        margin-top: 10px;
    }
    &__valuta {
        font-family: "ProximaNova";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        display: flex;
        align-items: center;
        &_down {
            width: 0;
            height: 0;
            margin-left: 5px;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 6px solid #d10000;
        }
        &_up {
            width: 0;
            height: 0;
            margin-left: 5px;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 6px solid #00ae26;
        }
    }
}

.catalysts {
    background-color: #f4f7fa;
    padding: 80px 0;
    .title {
        margin-bottom: 40px;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    &__item {
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
        &:nth-child(4n + 1) .catalysts__img {
            background-color: #f5f1e1;
        }
        &:nth-child(4n + 2) .catalysts__img {
            background-color: #e1f1fa;
        }
        &:nth-child(4n + 3) .catalysts__img {
            background-color: #e7eaee;
        }
        &:nth-child(4n + 4) .catalysts__img {
            background-color: #dce4f0;
        }
    }
    &__img {
        height: 180px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        margin-bottom: 15px;
    }
    &__text {
        margin-bottom: 25px;
    }
    &__link {
    }
}

.brands {
    padding-top: 100px;
    .title {
        max-width: 400px;
    }
    &__search {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        display: flex;
        align-items: center;
        span {
            max-width: 80px;
            margin-right: 30px;
        }
        label {
            position: relative;
            &::after {
                content: "";
                display: block;
                height: 15px;
                width: 15px;
                background-image: url(../img/icons/icon-search.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                position: absolute;
                top: 20px;
                right: 15px;
                z-index: 10;
            }
        }
        input {
            background: #ffffff;
            border: 1px solid #e2e4ea;
            box-sizing: border-box;
            border-radius: 3px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            padding: 18px;
            width: 270px;
            letter-spacing: 0em;
            outline: none;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        text-align: center;
        flex: 0 0 10%;
        max-width: 10%;
        width: 117px;
        height: 117px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #f4f7fa;
        background-color: #fff;
        cursor: pointer;
        &:hover {
            background-color: #f4f7fa;
        }
    }
    &__img {
        margin-bottom: 10px;
    }
    &__title {
        font-family: "ProximaNova";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__price {
        font-family: "ProximaNova", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        color: #717784;
    }
}

.delete-catalysts {
    &__wrapper {
        background-color: #043598;
        background-image: url(../img/delete-catalysts-bg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        border-radius: 3px;
        padding: 50px;
        color: #fff;
        min-height: 600px;
        .title {
            color: #fff;
            margin-bottom: 40px;
        }
    }
    &__icon {
    }
    &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
}
