.main_front-page{
    padding-top: 160px;
    position: relative;
    min-height: 670px;
    background-image: url(../img/front-page-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.6);
    }
    .main-title{
        margin-top: 40px;
    }
    .info-block{
        display: flex;
        &__item{
            color: #fff;
            padding-right: 30px;
            margin-right: 30px;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            &:last-child{
                border: none;
                margin-right: 0;
            }
        }
        &__icon{

        }
        &__title{
            color: #fff;
        }
        &__text{

        }
    }
}