// Data range
.active {
  &.start-date.available {
    background-color: $blue;
  }
  &.end-date.available {
    background-color: $blue;
  }
}
.daterangepicker .ranges li.active{
  background-color: $blue;
}

.graph {
  background: #ffffff;
  border: 1px solid #e2e4ea;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 30px;
  margin-bottom: 30px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .apexcharts-tooltip {
    color: #fff;
    transform: translateX(10px) translateY(10px);
    overflow: visible !important;
    white-space: normal !important;
    margin-top: -45px;
    border: none !important;
  }
  .apexcharts-tooltip span {
    padding: 5px 10px;
    display: inline-block;
  }
  .transactions-sort__daterange {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
  .daterange-input {
    margin-right: 10px;
  }
  .daterange-input__label {
    margin-right: 0;
  }
}

.apexcharts-yaxis tspan {
  font-family: "ProximaNova", sans-serif !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  color: #b1b9ca !important;
  opacity: 0.7 !important;
}
.apexcharts-xaxis tspan {
  font-family: "ProximaNova", sans-serif !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  color: #b1b9ca !important;
  opacity: 0.7 !important;
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 2px solid #043598;
  font-family: "Proxima Nova";
  font-weight: 700;

  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  background: #fff;
  left: 0;
  top: 0;
  color: #043598;
  box-shadow: 0px 10px 17px rgba(4, 53, 152, 0.2); /* Добавляем тень для блока */
  border: none !important;
  white-space: nowrap;
}
.arrow_box::after,
.arrow_box::before {
  content: "";
  position: absolute;
  background: #fff;
  left: calc(50% - 10px);
  bottom: -11px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 7px rgba(4, 53, 152, 0.2); /* Добавляем тень для уголка */
  z-index: -1; /* Прячем за основным блоком */
  transform: rotate(45deg); /* Поворачиваем на 45º */
  -webkit-transform: rotate(45deg);
}
.arrow_box::before {
  z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
  box-shadow: none; /* Прячем тень */
}
.apexcharts-toolbar {
  display: none !important;
}

.diagram-info {
  font-family: "Stapel";
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 340px;
    border-bottom: 1px solid #e2e4ea;
    padding: 15px 0;
    &:last-child {
      border-bottom: none;
    }
  }
  &__title {
    font-family: "Stapel";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    span {
      display: inline-block;
      margin-right: 15px;
      width: 15px;
      height: 15px;
      border-radius: 3px;
    }
  }
  &__value {
    font-family: "Stapel";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
  }
}
.diagram-cicle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.analitic-materials {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graph__yaxix-analitic-delivery {
  display: none;
}
.graph__yaxix-analitic-pay {
  display: none;
}
@media (max-width: 767px) {
  #analitic-delivery {
    min-width: 768px;
  }
  #analitic-pay {
    min-width: 768px;
  }
  .graph {
    padding: 0;
    border: none;
   
    &__title {
      margin-bottom: 20px;
    }
    &__header {
      display: block;
      .daterange-input {
        order: 1;
      }
      .daterange-input__label {
        order: 0;
        margin-right: 10px;
      }
    }
    &__wrapper{
      overflow-x: scroll;
    }
  }
  .graph-area .apexcharts--hidden {
    opacity: 0 !important;
  }

  .graph-area .graph__yaxix-analitic-delivery, .graph-area .graph__yaxix-analitic-pay {
    position: absolute;
    display: block;
    width: 40px;
  }
  .graph-area .graph__yaxix-analitic-delivery--single, .graph-area .graph__yaxix-analitic-pay--single {
    font-family: "ProximaNova", sans-serif !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    opacity: 0.7 !important;
    text-align: right;
    right: 0;
    position: absolute;
  }
  .graph-area .apexcharts-canvas {
    margin-left: -50px !important;
    width: 768px !important;
  }
  .graph-area .apexcharts-canvas > svg {
    width: 768px !important;
  }
  #analitic-delivery, #analitic-pay  {
    min-width: 768px !important;
  }
  .graph__wrapper__content {
    overflow: hidden;
    min-width: 718px;
  }
  .graph-area .graph__wrapper {
    margin-left: 40px !important;
  }
  .show-calendar .ranges{
    display: none;
  }
}
